---
title: Configure a GCE Load Balancer for PKS Clusters
owner: PKSA
---

A load balancer is a third party device that distributes network and application traffic across resources. You can use a load balancer to secure and facilitate access to Harbor from outside the network. 

The example below explains how to create a load balancer for your cluster and use the CLI to create and manage clusters. To complete these procedures, you must have already configured an external load balancer to access the PKS API.

<p class="note"><strong>Note</strong>: Make sure the version of the CLI you are using matches the version of the PKS tile you are installing.</p>

##<a id="create"></a> Creating Load Balancers for PKS Clusters

1. Log into the PKS API and create a cluster. An example command follows:
	<code>pks login -a api.pks.EXAMPLE-URL.co -u "EXAMPLE-USERNAME" -p "EXAMPLE-PASSWORD" -k</code><br/>
	For more information, see [Create a Cluster](create-cluster.html).
2. Navigate to [Google Cloud Platform](https://console.cloud.google.com/).
3. In the sidebar menu, select **Network Services** > **Load balancing**.
4. Click **Create Load Balancer**.
5. In the *TCP Load Balancing* pane, click **Start configuration**.
6. Select the configuration details that apply to your use case and click **Continue**. The *New TCP load balancer* menu opens.
7. Enter a **Name** for your load balancer and click **Backend configuration**. The *Backend configuration* panel opens.
<p class="note"><strong>Note</strong>: Configure a TCP Load Balancer with a human-readable name in lower case letters, such as <code>your-pks-cluster-api</code>.</p>
8. Configure the load balancer backend.
	1. Select an **Instance group**.
	1. Specify any other configuration options you require and press **Done** to complete backend configuration. 
	<p class="note"><strong>Note</strong>: When you configure the load balancer backend, health checks are not required.</p>
9. Click **Frontend configuration**. The *Frontend Configuration* panel opens.
10. Configure the load balancer frontend.
	1. Optional: Enter a human-readable name in lower case letters, such as `pks-cluster-api`. 
	1. Reserve an IP address by clicking into the **IP address** menu and selecting **Create IP address**. Give the IP address a human-readable name and click **Reserve**. 
	1. In the **Port** field, specify `443` or `8443`.
	1. Choose a **Certificate** from the list of certificates already associated with your installation.
	1. Specify any other configuration options you require and press **Done** to complete frontend configuration. 
11. Review your load balancer configuration and click **Create**.

##<a id="firewall"></a> Creating Firewall Rules for Load Balancers

Creating a firewall rule for the load balancer

1. In the Google Cloud Platform sidebar menu, select **VPC Network** > **Firewall Rules**.
1. Click **Create Firewall Rule**. The *Create a firewall rule* menu opens.
1. Give your firewall rule a human-readable name in lower case letters. For ease of use, you may want to align this name with the name of the load balancer you created in [Creating Load Balancers for PKS Clusters](#create).
1. In the **Network** menu, select the VPC network on which you have deployed the PKS tile.
1. In the **Direction of traffic** field, select **Ingress**.
1. In the **Action on match** field, select **Allow**.
1. Confirm that the **Targets** menu is set to `Specified target tags` and enter a human-readable tag, such as `your-pks-cluster-api-tag` in the **Target tags** field.
1. In the **Source IP ranges** field, enter `0.0.0.0/0`.
1. In the **Protocols and ports** field, choose **Specified protocols and ports** and enter the port number you specified in [Creating Load Balancers for PKS Clusters](#create), prepended by `tcp:`. This field will likely read either `tcp:8443` or `tcp:443`.
1. Specify any other configuration options you require and press **Done** to complete frontend configuration.
1. Click **Create**.

For this firewall rule to affect cluster API traffic, you must add the `your-pks-cluster-api-tag` network tag to the master instance of your cluster. You can only apply that tag after creating a new cluster in [LINK TO CLUSTER CONFIG DOCS](LINK). 


##<a id="cluster-create-lb"></a>Creating a Cluster with a GCE Load Balancer

In order to use a GCE load balancer with a cluster, you must specify that you wish to use a load balancer during cluster creation. You cannot add a load balancer to an existing cluster. 

Before completing this procedure, create a GCE load balancer and related firewall rules by following the procedures in [Configure a GCE Load Balancer for PKS Clusters](./gce-cluster-load-balancer.html).

1. Log in to the PKS CLI.
2. Enter `pks list-plans`.
3. Choose a plan. This is the plan on which you will create a cluster with a GCE load balancer.
<p class="note"><strong>Note</strong>: You must have already created a GCE load balancer before continuing this procedure.</p>
4. Create a cluster on this plan and connect the load balancer you created in [Configure a GCE Load Balancer for PKS Clusters](./gce-cluster-load-balancer.html). Example code follows: `pks create-cluster YOUR-CLUSTER-NAME --external-hostname YOUR-LOAD-BALANCER-IP --plan small --num-nodes 3`.
4. Wait while the cluster is created. To check the creation progress, enter the following command in the BOSH CLI of the Ops Manager instance: `bosh -e pks task`.
<p class="note"><strong>Note</strong>: This errand may run after the deployment. Depending on what other tasks you have queued, several BOSH tasks may run at this time.

##<a id="lb-connect"></a> Connecting a GCE Load Balancer to a Cluster

Once you have created a new cluster with a load balancer, you must connect the load balancer to the master instance of the cluster. This ensures that traffic is distributed when accessing the cluster, and that any firewall rules you created take effect.

1. Search for the master VM ID by either entering `bosh -e pks vms` or logging into the GCP Console and navigating to **Compute Engine** > **VM Instances**, and searching for the master instance there.
1. In Google Compute Engine, navigate to **Network services** > **Load balancing**. 
1. Click the name of the load balancer you created in the [Creating Load Balancers for PKS Clusters](gce-cluster-load-balancer.html/#create) section of *Configure a GCE Load Balancer for PKS Clusters*. The *Load balancer details* screen opens.
1. Click **Edit**.
1. In the *Backend configuration* panel, add the ???????????.
1. In the Google Compute Engine, navigate to **VM Instances** and search for the master instance.
1. Click the name of the master instance.
1. Click **Edit**.
1. In the *Network tags* section, add the `your-pks-cluster-api-tag` network tag. This funnels traffic through the load balancer and into the cluster.
1. Click **Save**.

Use IP of LB on PKS CLI to tell PKS to include LB IP as a trusted IP, which funnels traffic through the LB and across the cluster.